body, html { overflow-x:hidden; }
body {
    min-width: 320px;
    font-family: CiscoSans,Arial,sans-serif;
    color: #0d274d;
    text-rendering: optimizeLegibility;
    background: #f2f2f2;
}
h1 {
    font-size: 54px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-size: 30px;
    margin: 0;
}
p, ul {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
}
ul {
    padding-left: 20px;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.center {
    margin: auto;
    text-align: center;
}
.margin-top {
    margin-top: 50px;
}
.small-margin-top {
    margin-top: 20px;
}
.float-right {
    float: right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.oblique {
    font-style: oblique;
}
.fifty-five {
    width: 55%;
}
.main-container {
    max-width: 1600px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    min-width: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%);
}
.main-outer {
    /* max-width: 1200px; */
    max-width: 992px;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 16px;
    line-height: 1.2;
}
.top-logo{
    display: block;
    width: 35%;
    margin: auto;
}
.title-div {
    margin: 100px 0;
    text-align: center;
}
.title-div h1 {
    font-weight: 200;
    margin: 0px;
}
.title-div p {
    font-weight: 700;
    color: #00BCEB;
    margin: 0px;
}
.main-title {
    position: relative;
    width: 800px;
    padding: 25px 0px;
    font-weight: 700;
    background-color: #DCDCE2;
    border: 2px solid #0d274d;
    border-radius: 13px;
    z-index: 10;
}
.main-title h3 {
    text-align: center;
}
.one {
    height: 840px;
}
.section-one {
    width: 45%;
}
.section-one-intro {
    width: 800px;
    float: left;
}
.images-div-one {
    position: relative;
    width: 650px;
    bottom: 770px;
    left: 345px;
}
.building-image {
    display: block;
    width: 80%;
    margin: auto;
    z-index: 1;
}
.blue-window {
    position: relative;
    width: 6px;
    bottom: 400px;
    left: 205px;
    animation: blink-animation 8s steps(5, start) infinite;
}
.red-window {
    position: relative;
    width: 6px;
    bottom: 355px;
    left: 185px;
    animation-delay: 1.5s;
    animation: blink-animation 10s steps(5, start) infinite;
}
.dark-blue-window {
    position: relative;
    width: 6px;
    bottom: 340px;
    left: 165px;
    animation-delay: 3s;
    animation: blink-animation 12s steps(5, start) infinite;
}
.yellow-window {
    position: relative;
    width: 6px;
    bottom: 300px;
    left: 175px;
    animation: blink-animation 5s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
.cloud-one {
    position: relative;
    width: 50px;
    bottom: 420px;
    left: 420px;
    animation-name: cloud-movement;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}
.cloud-two {
    position: relative;
    width: 65px;
    bottom: 380px;
    left: 405px;
    animation-name: cloud-movement;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-duration: 45s;
}
@keyframes cloud-movement {
    0% {
      opacity: 0.1;
      transform: translateX(40px);
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
      opacity: 0.1;
      transform: translateX(-250px);
    }
}
.cloud-three {
    position: relative;
    width: 65px;
    bottom: 220px;
    right: 50px;
    animation-name: cloud-movement2;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-duration: 25s;
}
@keyframes cloud-movement2 {
    0% {
      opacity: 0.1;
      transform: translateX(50px);
    }
    8% {
        opacity: 1;
    }
    93% {
        opacity: 1;
    }
    100% {
      opacity: 0.1;
      transform: translateX(-25px);
    }
}
.two {
    height: 650px;
}
.images-div-two {
    position: relative;
    width: 790px;
    bottom: 510px;
}
.servers-one {
    width: 100%;
}
.outer-circle {
    position: absolute;
    width: 45%;
    margin: 120px 0px 0px 40px;
}
.section-two {
    position: relative;
    margin: 90px 0px 105px 30px;
}
.images-div-three {
    position: relative;
    margin: -690px 0px 0px 430px;
    z-index: 5;
}
.servers-two {
    width: 100%;
}
.section-threee {
    width: 40%;
}
.check-one{
    position: absolute;
    width: 50px;
    margin: -493px 0px 0px 340px;
}
.check-two {
    position: absolute;
    width: 50px;
    margin: -280px 0px 0px 340px;
}
.check-three {
    width: 50px;
    margin: -180px 0px 70px 340px;
}
.images-div-four {
    position: absolute;
    width: 970px;
    margin: -1115px 0px 0px 0px;
}
.line {
    width: 99%;
}
.text-block-one {
    width: 59%;
    margin-left: 50px;
}
.text-block-two {
    width: 58%;
    margin: 165px 50px 0px 0px;
}
.text-block-three {
    width: 59%;
    margin: 100px 0px 100px 50px;
}
.outer-circle-one {
    position: absolute;
    width: 270px;
    top: 170px;
    right: 50px;
}
.inner-square {
    position: absolute;
    width: 140px;
    top: 233px;
    right: 115px;
}
.inner-green {
    position: absolute;
    width: 30px;
    top: 260px;
    right: 175px;
}
.inner-yellow {
    position: absolute;
    width: 35px;
    top: 280px;
    right: 145px;
}
.inner-blue {
    position: absolute;
    width: 40px;
    top: 315px;
    right: 165px;
}
.inner-red {
    position: absolute;
    width: 31px;
    top: 293px;
    right: 195px;
}
.outer-circle-two {
    position: absolute;
    width: 270px;
    top: 450px;
    right: 650px;
}
.inner-circle {
    position: absolute;
    width: 170px;
    top: 500px;
    right: 700px;
}
.arrow {
    position: absolute;
    width: 120px;
    top: 560px;
    right: 725px;
}
.outer-circle-three {
    position: absolute;
    width: 270px;
    top: 780px;
    right: 50px;
}
.clouds {
    position: absolute;
    width: 210px;
    top: 925px;
    right: 85px;
}
.moon {
    position: absolute;
    width: 40px;
    top: 880px;
    right: 220px;
}
.final-text-block {
    width: 800px;
}
.images-div-five {
    position: absolute;
    width: 970px;
}
.line-two {
    width: 99%;
    margin: -1315px 0px 60px 0px;
}
.final-text-block-one {
    width: 50%;
    margin: 65px 0px 0px 50px;
}
.final-text-block-two {
    width: 40%;
    margin: 60px 50px 0px 0px;
}
.final-text-block-three {
    width: 51%;
    margin: 80px 0px 0px 50px;
}
.final-text-block-four {
    width: 42%;
    margin: 85px 50px 0px 0px;
}
.final-text-block-five {
    width: 51%;
    margin: 70px 0px 40px 50px;
}
.server-one {
    position: absolute;
    width: 270px;
    margin: -1085px 0px 0px -350px;
}
.server-two {
    position: absolute;
    width: 270px;
    margin: -1045px 0px 0px -350px;
}
.server-three {
    position: absolute;
    width: 270px;
    margin: -980px 0px 0px -350px;
}
.computer {
    position: absolute;
    width: 210px;
    margin: -870px 0px 0px -815px;
}
.computer-lines {
    position: absolute;
    width: 180px;
    margin: -855px 0px 0px -800px;
}
.computer-circles {
    position: absolute;
    width: 180px;
    margin: -860px 0px 0px -800px;
}
.person-computer {
    position: absolute;
    width: 190px;
    margin: -670px 0px 0px -350px;
}
.tab-three {
    position: absolute;
    width: 90px;
    margin: -555px 0px 0px -200px;
}
.tab-three-content {
    position: absolute;
    width: 30px;
    margin: -537px 0px 0px -170px;
}
.tab-one {
    position: absolute;
    width: 160px;
    margin: -420px 0px 0px -915px;
}
.tab-one-content {
    position: absolute;
    width: 135px;
    margin: -385px 0px 0px -902px;
}
.tab-two {
    position: absolute;
    width: 160px;
    margin: -420px 0px 0px -700px;
}
.tab-check {
    position: absolute;
    width: 70px;
    margin: -385px 0px 0px -655px;
}
.tab-connector {
    position: absolute;
    width: 195px;
    margin: -365px 0px 0px -820px;
}
.server-rack {
    position: absolute;
    width: 150px;
    margin: -225px 0px 0px -355px;
}
.tab-four {
    position: absolute;
    width: 130px;
    margin: -145px 0px 0px -200px;
}
.connector-one {
    position: absolute;
    width: 135px;
    margin: -220px 0px 0px -210px;
}
.connector-two {
    position: absolute;
    width: 105px;
    margin: -135px 0px 0px -303px;
}
.outer {
    margin-top: 130px;
    width: 75%;
}
.footer {
    margin: 100px 0 50px 0;
}
.footer-logo {
    width: 35%;
}
.footer p {
    font-size: 10px;
}


@media screen and (max-width: 992px) {
    body {
        background: pink;
    }
    h1 {
        font-size: 53px;
    }
    h3 {
        font-size: 29px;
    }
    p, ul {
        font-size: 19px;
    }
    .margin-top {
        margin-top: 30px;
    }
    .main-outer {
        max-width: 790px;
    }
    .title-div {
        margin: 60px 0;
    }
    .main-title {
        width: 766px;
    }
    .one {
        height: 795px;
    }
    .section-one-intro {
        width: 700px;
        float: none;
    }
    .images-div-one {
        width: 610px;
        bottom: 630px;
        left: 220px;
    }
    .blue-window {
        width: 6px;
        bottom: 370px;
        left: 195px;
    }
    .red-window {
        width: 6px;
        bottom: 335px;
        left: 170px;
    }
    .dark-blue-window {
        width: 6px;
        bottom: 320px;
        left: 150px;
    }
    .yellow-window{
        width: 6px;
        bottom: 290px;
        left: 155px;
    }
    .cloud-one {
        width: 45px;
        bottom: 360px;
        left: 385px;
    }
    .cloud-two {
        width: 60px;
        bottom: 315px;
        left: 355px;
    }
    .cloud-three {
        width: 60px;
        bottom: 180px;
        right: 50px;
    }
    .two {
        height: 475px;
    }
    .images-div-two {
        width: 640px;
        bottom: 415px;
    }
    .section-two {
        margin: 15px 0px;
    }
    .three {
        height: 760px;
    }
    .images-div-three {
        width: 60%;
        margin: -610px 0px 0px 307px;
    }
    .check-one {
        margin: -440px 0px 0px 300px;
    }
    .check-two {
        margin: -254px 0px 0px 300px;
    }
    .check-three {
        margin: -180px 0px 66px 300px;
    }
    .four {
        text-align: center;
    }
    .four > p {
        display: inline-block;
        float: none;
        margin: 30px auto 0;
    }
    .four > div {
        text-align: left;
    }
    .images-div-four {
        width: 775px;
        margin: -905px 0px 0px 0px;
    }
    .text-block-one {
        margin: 70px 0px 0px 50px;
    }
    .outer-circle-one {
        width: 200px;
        top: 55px;
    }
    .inner-square {
        width: 115px;
        top: 95px;
        right: 93px;
    }
    .inner-green {
        width: 22px;
        top: 120px;
        right: 145px;
    }
    .inner-yellow {
        width: 30px;
        top: 131px;
        right: 118px;
    }
    .inner-blue {
        width: 30px;
        top: 159px;
        right: 135px;
    }
    .inner-red {
        width: 27px;
        top: 141px;
        right: 160px;
    }
    .outer-circle-two {
        width: 200px;
        top: 350px;
        right: 525px;
    }
    .inner-circle {
        width: 120px;
        top: 390px;
        right: 565px;
    }
    .arrow {
        width: 80px;
        top: 435px;
        right: 580px;
    }
    .text-block-two {
        width: 60%;
        margin: 120px 50px 0px 0px;
    }
    .text-block-three {
        width: 59%;
        margin: 10px 0px 50px 50px;
    }
    .outer-circle-three {
        width: 200px;
        top: 630px;
    }
    .clouds {
        width: 160px;
        top: 725px;
        right: 70px;
    }
    .moon {
        width: 25px;
        top: 700px;
        right: 180px;
    }
    .images-div-five {
        width: 775px;
        margin-top: 148px;
    }
    .line-two {
        margin: -1315px 0px 154px 0px;
    }
    .server-one {
        width: 220px;
        margin: -1000px 0px 0px -280px;
    }
    .server-two {
        width: 220px;
        margin: -970px 0px 0px -280px;
    }
    .server-three {
        width: 220px;
        margin: -920px 0px 0px -280px;
    }
    .final-text-block-two {
        width: 45%;
        margin: 15px 50px 0px 0px;
    }
    .computer {
        width: 185px;
        margin: -830px 0px 0px -670px;
    }
    .computer-circles {
        width: 160px;
        margin: -820px 0px 0px -654px;
    }
    .computer-lines {
        width: 155px;
        margin: -815px 0px 0px -651px;
    }
    .final-text-block-three {
        margin: 30px 0px 0px 50px;
    }
    .person-computer {
        width: 150px;
        margin: -667px 0px 0px -265px;
    }
    .tab-three {
        width: 80px;
        margin: -580px 0px 0px -145px;
    }
    .tab-three-content {
        width: 25px;
        margin: -562px 0px 0px -118px;
    }
    .final-text-block-four {
        width: 45%;
        margin: 20px 50px 0px 0px;
    }
    .tab-one {
        width: 130px;
        margin: -470px 0px 0px -715px;
    }
    .tab-one-content {
        width: 105px;
        margin: -444px 0px 0px -704px;
    }
    .tab-two {
        width: 130px;
        margin: -470px 0px 0px -555px;
    }
    .tab-check {
        width: 60px;
        margin: -445px 0px 0px -520px;
    }
    .tab-connector {
        width: 145px;
        margin: -425px 0px 0px -640px;
    }
    .final-text-block-five {
        width: 60%;
        margin: 70px 0px 40px 50px;
    }
    .final-text-block-five {
        width: 60%;
        margin: 20px 0px 0px 50px;
    }
    .server-rack {
        width: 120px;
        margin: -320px 0px 0px -245px;
    }
    .tab-four {
        width: 100px;
        margin: -265px 0px 0px -120px;
    }
    .connector-one {
        width: 100px;
        margin: -315px 0px 0px -130px;
    }
    .connector-two {
        width: 80px;
        margin: -248px 0px 0px -199px;
    }
    .outer {
        margin-top: 60px;
    }
    .footer {
        margin: 50px 0;
    }
}

@media screen and (max-width: 800px) {
/* @media screen and (max-width: 767px) { */
    body {
        background: powderblue;
    }
    .main-outer {
        max-width: 677px;
    }
    .top-logo {
        width: 320px;
    }
    .main-title {
        width: 560px;
        margin: 30px auto 0;
        padding: 25px;
    }
    .section-one-intro {
        width: 440px;
    }
    .images-div-one {
        width: 630px;
        margin: 0 auto;
        bottom: 1110px;
        left: 0px;
    }
    .flex-container {
        flex-direction: row;
    }
    .two-column {
        flex-basis: 50%;
        flex-grow: 0;
        margin-top: 50px;
    }
    .two-column.left {
        margin-left: 5px;
    }
    .two-column.right {
        margin-right: 5px;
    }
    .one {
        height: 1110px;
    }
    .section-one {
        width: 613px;
        margin: 390px auto 0;
    }
    .building-image {
        width: 504px;
    }
    .blue-window {
        width: 7px;
        bottom: 385px;
        left: 200px;
    }
    .red-window {
        width: 7px;
        bottom: 340px;
        left: 175px;
    }
    .dark-blue-window {
        width: 7px;
        bottom: 320px;
        left: 153px;
    }
    .yellow-window{
        width: 7px;
        bottom: 295px;
        left: 161px;
    }
    .cloud-one {
        width: 50px;
        bottom: 370px;
        left: 410px;
    }
    .cloud-two {
        width: 65px;
        bottom: 330px;
        left: 380px;
    }
    .cloud-three {
        width: 65px;
        bottom: 190px;
    }
    .two {
        height: 565px;
    }
    .two > .main-title {
        float: none;
    }
    .images-div-two {
        width: 550px;
        bottom: 354px;
        left: 22px;
    }
    .outer-circle {
        width: 39%;
        margin: 101px 0px 0px 44px;
    }
    .three {
        height: 850px;
    }
    .images-div-three {
        width: 645px;
        margin: -700px 0px 0px 0px;
    }
    .section-threee {
        width: 580px;
        margin: 0 auto;
    }
    .section-threee > .small-margin-top {
        margin-top: 140px;
    }
    .section-threee > .extra-margin {
        margin-top: 160px;
    }
    .check-one {
        margin: -590px 0px 0px 424px;
    }
    .check-two {
        margin: -330px 0px 0px 424px;
    }
    .check-three {
        margin: -180px 0px 81px 424px;
    }
    .four > .main-title {
        float: none;
    }
    .images-div-four {
        width: 648px;
    }
    .images-div-four {
        margin: -707px 0px 0px 0px;
    }
    .text-block-one {
        width: 610px;
        margin: 20px 0px 0px 15px;
    }
    .outer-circle-one,
    .inner-square,
    .inner-green,
    .inner-yellow,
    .inner-blue,
    .inner-red,
    .outer-circle-three,
    .moon,
    .clouds,
    .arrow,
    .inner-circle,
    .outer-circle-two {
        display: none;
    }
    .text-block-two {
        width: 610px;
        margin: 120px 50px 0px 0px;
    }
    .text-block-three {
        width: 610px;
        margin: 30px 0px 0px 15px;
    }
    .four {
        height: 910px;
    }
    .four > p {
        width: 560px;
    }
    .final-text-block {
        width: 550px;
        margin: 30px auto -31px;
    }
    .final-text-block-one {
        width: 420px;
        margin: 65px 0px 0px 30px;
    }
    .final-text-block-two {
        width: 420px;
        margin: 10px 0px 0px 225px;
        float: none;
    }
    .final-text-block-three {
        width: 420px;
        margin: 15px 0px 0px 30px;
    }
    .final-text-block-four {
        width: 420px;
        margin: 10px 0px 0px 235px;
        float: none;
    }
    .line {
        width: 642px;
    }
    .images-div-five {
        width: 655px;
        margin-top: 209px;
    }
    .final-text-block-five {
        width: 491px;
        margin: 20px 0px 0px 30px;
    }
    .line-two {
        margin: -1083px 0px 220px 0px;
    }
    .server-one {
        width: 180px;
        margin: -925px 0px 0px -200px;
    }
    .server-two {
        width: 180px;
        margin: -896px 0px 0px -200px;
    }
    .server-three {
        width: 180px;
        margin: -855px 0px 0px -200px;
    }
    .computer {
        width: 150px;
        margin: -785px 0px 0px -620px;
    }
    .computer-lines {
        width: 100px;
        margin: -765px 0px 0px -595px;
    }
    .computer-circles {
        width: 100px;
        margin: -768px 0px 0px -595px;
    }
    .person-computer {
        width: 120px;
        margin: -642px 0px 0px -180px;
    }
    .tab-three {
        width: 50px;
        margin: -570px 0px 0px -90px;
    }
    .tab-three-content {
        width: 17px;
        margin: -560px 0px 0px -73px;
    }
    .tab-one {
        width: 100px;
        margin: -470px 0px 0px -645px;
    }
    .tab-one-content {
        width: 85px;
        margin: -450px 0px 0px -638px;
    }
    .tab-two {
        width: 100px;
        margin: -470px 0px 0px -530px;
    }
    .tab-check {
        width: 45px;
        margin: -450px 0px 0px -502px;
    }
    .tab-connector {
        width: 80px;
        margin: -435px 0px 0px -577px;
    }
    .server-rack {
        width: 100px;
        margin: -360px 0px 0px -165px;
    }
    .tab-four {
        width: 90px;
        margin: -290px 0px 0px -110px;
    }
    .connector-one {
        width: 65px;
        margin: -329px 0px 0px -69px;    
    }
    .connector-two {
        display: none;
    }
    .footer-logo {
        width: 250px;
    }
}
@media screen and (max-width: 676px) {
    body {
        background: teal;
    }
    h3 {
        text-align: center;
    }
    .float-right {
        float: none;
    }
    .main-container {
        max-width: 675px;
        /* width: fit-content; */
    }
    /* .main-div {
        width: 355px;
        margin: 0 auto;
    } */
    .main-title,
    .section-one-intro {
        width: 300px;
    }
    .images-div-one {
        width: 330px;
        bottom: 1030px;
    }
    .section-one {
        width: 340px;
        margin: 115px auto 0;
    }
    .section-one > div > h3 {
        text-align: center;
    }
    .two-column {
        margin-top: 105px;
    }
    .building-image {
        width: 315px;
    }
    .blue-window {
        width: 5px;
        bottom: 240px;
        left: 95px;
    }
    .red-window {
        width: 5px;
        bottom: 215px;
        left: 80px;
    }
    .dark-blue-window {
        width: 5px;
        bottom: 205px;
        left: 63px;
    }
    .yellow-window {
        width: 5px;
        bottom: 185px;
        left: 63px;
    }
    .cloud-one {
        width: 35px;
        bottom: 222px;
        left: 200px;
    }
    .cloud-two {
        width: 50px;
        bottom: 190px;
        left: 180px;
    }
    .cloud-three {
        width: 50px;
        bottom: 120px;
    }
    .flex-container {
        flex-direction: column;
    }
    .two-column.left {
        margin-left: 0px;
        margin-top: 10px;
    }
    .one {
        height: 1135px;
    }
    .images-div-two {
        bottom: 755px;
        left: 30px;
    }
    .two {
        height: 920px;
    }
    .section-two {
        margin: 350px 0px 0px;
        width: 340px;
    }
    .three {
        height: 800px;
    }

    .text-block-three,
    .text-block-three > ul,
    .text-block-two,
    .text-block-two > ul,
    .text-block-one,
    .text-block-one > ul {
        text-align: left;
        width: 340px;
        margin: 20px 0px 0px;
    }
    .four {
        height: 1885px;
    }
    .four > p,
    .section-threee {
        width: 340px;
        text-align: center;
    }
    .four > div {
        margin-top: 250px;
    }
    .four > .main-title {
        margin-top: 30px;
    }
    .section-threee > .small-margin-top {
        margin-top: 50px;
    }
    .images-div-three {
        display: none;
    }
    .outer-circle-one, 
    .inner-square, 
    .inner-green, 
    .inner-yellow, 
    .inner-blue, 
    .inner-red, 
    .outer-circle-three, 
    .moon, 
    .clouds, 
    .arrow, 
    .inner-circle, 
    .outer-circle-two {
        display: block;
    }
    .outer-circle-one {
        top: -1875px;
        right: 0;
        left: 85px;
    }
    .inner-square {
        top: -1835px;
        right: 0;
        left: 127px;
    }
    .inner-green {
        top: -1812px;
        right: 0;
        left: 170px;
    }
    .inner-yellow {
        top: -1808px;
        right: 0;
        left: 190px;
    }
    .inner-blue {
        top: -1770px;
        right: 0;
        left: 168px;
    }
    .inner-red {
        top: -1790px;
        right: 0;
        left: 150px;
    }
    .outer-circle-two {
        top: -1335px;
        right: 0;
        left: 85px;
    }
    .inner-circle {
        top: -1295px;
        right: 0;
        left: 125px;
    }
    .arrow {
        top: -1251px;
        right: 0;
        left: 144px;
    }
    .outer-circle-three {
        top: -745px;
        right: 0;
        left: 85px;
    }
    .clouds {
        top: -645px;
        right: 0;
        left: 103px;
    }
    .moon {
        top: -675px;
        right: 0;
        left: 135px;
    }
    .final-text-block {
        text-align: center;
        width: 340px;
        margin: 30px auto 0px;
    }

    .final-text-block-one,
    .final-text-block-two,
    .final-text-block-three,
    .final-text-block-four,
    .final-text-block-five {
        text-align: center;
        width: 340px;
        margin: 200px auto 0px;
    }
    .server-one {
        width: 180px;
        margin: -2045px 0px 0px 90px;
    }
    .server-two {
        width: 180px;
        margin: -2015px 0px 0px 90px;
    }
    .server-three {
        width: 180px;
        margin: -1970px 0px 0px 90px;
    }
    .computer {
        margin: -1640px 0px 0px 105px;
    }
    .computer-lines {
        margin: -1622px 0px 0px 125px;
    }
    .computer-circles {
        margin: -1625px 0px 0px 125px;
    }
    .person-computer {
        margin: -1300px 0px 0px 115px;
    }
    .tab-three {
        margin: -1220px 0px 0px 205px;
    }
    .tab-three-content {
        margin: -1210px 0px 0px 222px;
    }
    .tab-one {
        margin: -900px 0px 0px 65px;
    }
    .tab-one-content {
        margin: -880px 0px 0px 72px;
    }
    .tab-two {
        margin: -900px 0px 0px 195px;
    }
    .tab-check {
        margin: -880px 0px 0px 223px;
    }
    .tab-connector {
        width: 100px;
        margin: -870px 0px 0px 130px;
    }
    .server-rack {
        width: 120px;
        margin: -590px 0px 0px 65px;
    }
    .tab-four {
        width: 100px;
        margin: -520px 0px 0px 195px;
    }
    .connector-one {
        width: 120px;
        margin: -580px 0px 0px 184px;
    }
    .connector-two {
        display: block;
        width: 95px;
        margin: -519px 0px 0px 102px;
    }
    .clearfix,
    .line,
    .line-two {
        display: none;
    }
}